/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-drawer-content{
    background-color: #f4f6f8 !important;

}
.mat-toolbar{
  background-color:#f4f6f8 !important;

}
.mat-sidenav{
  background-color:#f4f6f8 !important;

}